
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Pangolin&family=Poppins:wght@300;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*======ESTILOS GERAIS =============*/
 *, *::before,
 *::after {
     margin: 0;
     padding: 0;
     border: 0;
     box-sizing: border-box;
     
 }
 /* Variáveis*/
 :root{
      --ff-primary: "Nunito", Helvetica, Arial, sans-serif;

      --clr--green-dark:#049A40;
      --clr-green-light: #0BF96A;
      --clr-pink-dark: #E10BF9;
      --clr-pink-light: #F3A0FD;
      --clr-white: #F5F5F5;
 }
 /* Estilos Gerais*/
 body{
     background-color: var(--clr-white);
     font-family: var(--ff-primary);

 }
 a,
 a:hover,
 a:active,
 a:link,
 a:visited {
     text-decoration: none;
     color: black;
 }
 hr {
    border: none;
    background-color: var(--clr-pink-dark);
    height: 2px;
    width: 140px;
    margin:20px auto;
}
p {
    line-height: 21.82px;
    padding: 0 10px;

}
.section__titulo{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 10px;
}
img {
    display: block;
    max-width: 100px;
}
 

 
 /*Menu*/
 header .menu-bg{
     background-color: var(--clr-green-light);
 }
 header .menu-bg .menu{
     display: flex;
     justify-content: space-between;
     max-width: 960px;
     margin: 0 auto;
     align-items: center;
 }
 .meny__logo{
     margin: 10px;
 }
 .nav__list{
display: flex;
list-style-type: none;
 }
 .nav__list .nav__link{
     margin-right: 20px;
 }
 header .intro {
     text-align: center;
 }
/*Quem Somos*/
.somos{
    max-width: 960px;
    margin:0 auto;
}
.somos-c {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
 
.somos-c__texto{
    flex: 6 1 160px;
}
.somos-c__img {
    flex: 1 1 350px;
    
}

/* Nossos Cursos*/
.cursos{
    max-width: 960px;
    margin: 0 auto;
}
.cursos-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.curso{
    width: 280px;
    margin:  0 20px;
}
.curso__titulo{
    font-size: 1.6rem;
    text-align: center;
    margin: 10px 0 5px 0;
}